
.dashboard {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.city-search {
    border: solid #888888 1px;
}

.city-search:focus {
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.city-search-btn:focus {
    box-shadow: 5px 10px 8px #888888;
}
.city-search-btn{
    margin-bottom: 2vh;
}

.history-search-btn{
    margin: 1vh 0;
    height: 4vh;
    background-color: #233a67;
    color: whitesmoke;
}

hr {
    border-top: 8px black solid;
    opacity: 100;
}

p {
    font-weight: bold;
}

.uv-btn {
    width: 50px;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 10px;
}

.current-city-weather {
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.card{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}